@import "../../shared/colori.scss";

.background {
  background-color: $primary-color;

  .corpo {
    padding-top: 100px;
    height: 100vh;
  }
}

::ng-deep *{
  //color: $text-color;
  font: $font;
}
