<div class="container-fluid">
  <header class="row px-3 header">
    <div class="col-2">
      <mat-card class="h-100 m-0 header__card" [ngStyle]="{'background-color': currentCardColor}">
        <mat-card-content>
          <div class="h-100 d-flex justify-content-between" >
            <div class="header__image">
              <h1>immagine</h1>
            </div>
            <div class="header__welcome">
              <h1>Benvenuto</h1>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-1"></div>
    <div class="col-2">
      <mat-card class="h-100 header__card" [ngStyle]="{'background-color': currentCardColor}">
        <mat-card-content>
          <p>Ore lezioni totali:</p>
          <p>Ore assenze totali:</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-1"></div>
    <div class="col-6 header__col">
      <app-filtri (periodChanged)="changePeriodEvent($event)"></app-filtri>
    </div>
  </header>
  <main class="row">
    <section class="container-fluid corpo">
      <ngb-carousel *ngIf="carteLezioni$ | async as carte">
        <ng-container *ngFor="let card of carte">
          <ng-template ngbSlide>
            <app-carta-lezioni [currentCardColor]="currentCardColor" [carta]="card"></app-carta-lezioni>
          </ng-template>
        </ng-container>
      </ngb-carousel>
    </section>
  </main>
</div>
